.left-heading{
    text-align: left;
    margin-left: 50px;
}
.gym-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.workout-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-left: 10px;
}
.WorkerDetails-container{
    background: rgba(29, 114, 225, 0.3);;
    padding: 20px;
    margin-top: 30px;
    height: 550px;
    margin-right: 20px;
}
@media screen and (max-width: 688px) {
    .gym-container{
        grid-template-columns: repeat(1,1fr)
    }
    .workout-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 10%;
    }
    .WorkerDetails-container{
        margin: 5%;
    }
   
}